@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Language World</h1>
    <p class="lead">Language world is your best option for studying.</p>
    @if (!User.Identity.IsAuthenticated)
    {
        <p><a href="/Account/Register" class="btn btn-primary btn-lg">Register &raquo;</a></p>
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Login &raquo;</a></p>
    }
    
</div>


<div class="row">
    @if (User.Identity.IsAuthenticated)
    {

        <div class="col-md-4">
        <h2>Booking Class</h2>
        <p>
            You can select your units and class time.
        </p>
        <p><a class="btn btn-default" href="~/Bookings/BookingClass">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
        <h2>My Class</h2>
        <p>You can check your class here.</p>
        <p><a class="btn btn-default" href="/Bookings">Learn more &raquo;</a></p>
        </div>
        if (!User.IsInRole("admin"))
        {

            <div class="col-md-4">
            <h2>Our class location</h2>
            <p>Find us on the map.</p>
            <p><a class="btn btn-default" href="/home/map">Learn more &raquo;</a></p>
            </div>
        }
    }
</div>